<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <h1>FORMULARZ ZMIANY DANYCH</h1>

    <form th:action="@{/changeCredentials}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{username}">
        <input type="text" value="firstName" th:field="*{firstName}" placeholder="Pierwsze Imię">
        <input type="text" value="lastName" th:field="*{lastName}" placeholder="Nazwisko">
        <input type="password" value="password" th:field="*{password}" placeholder="Hasło">
        <input type="submit" value="Zmien dane">
    </form>

</body>

</html>